<app-navbar url1="/home" url2="/Forum" url3="/dashboard" url4="/Stades" url5="/Hebergements" ></app-navbar>
<!-- component -->
<div class="container mx-auto p-4 lg:h-screen flex items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"  >
        <!-- Blog Entry 1 -->
@for ( stade of stades; track $index) { 
   <div class="mx-auto relative shadow-md rounded-lg cursor-pointer" >
          <img src="./assets{{stade.pathpic.split('\assets')[1]}}" alt="" class="w-full h-full object-cover rounded-lg">
          <div class="absolute bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg">
            <h1 class="text-2xl font-semibold">{{stade.stadename}}</h1>
            <p class="mt-2">{{stade.ville}}</p>
            <p class="mt-2">{{stade.capacite}}</p>
          </div>
        </div> 
        }
      </div>
</div>

