<app-navbar url1="/home" url2="/Forum" url3="/dashboard" url4="/Stades" url5="/Hebergements" ></app-navbar>
@if (item=='Hebergement') {
<div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <!-- Image Section -->
    <img
    src="./assets{{hebe.pathpic.split('\assets')[1]}}"
    class="bg-cover bg-center"
    />
    <!-- Name and Description Section -->
    <div class="p-6">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">{{hebe.hname}}</h2>
      <p class="text-gray-700 text-base mb-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus.
      </p>
    </div>

    <!-- Comments Section -->
    <div class="px-6 py-4">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Comments</h3>
      <div class="space-y-4">
        <!-- Comment 1 -->
        @for (item of comment; track $index) {
          <div class="bg-gray-100 p-4 rounded-lg">
            <p class="text-gray-800 font-semibold">{{item.username}}</p>
            <p class="text-gray-600 text-sm">{{item.contenu}}</p>
          </div>}
      </div>
      <!-- Add Comment Form -->
      <form class="mt-6">
        <div class="mb-4">
          <label for="comment" class="block text-gray-700 font-bold mb-2">Add a comment:</label>
          <textarea id="comment" [(ngModel)]="commenthebergement.contenu" name="comment" rows="3" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" placeholder="Write your comment here..."></textarea>
        </div>
        <button type="submit" (click)="setcommentHebergement()" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500">Submit</button>
      </form>
    </div>
  </div>}@else if (item=='Stade') {
    <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
      <!-- Image Section -->
      <img
          src="./assets{{stade.pathpic.split('\assets')[1]}}"
          class="bg-cover bg-center"
          />
      <!-- Name and Description Section -->
      <div class="p-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">{{stade.stadename}}</h2>
        <p class="text-gray-700 text-base mb-6">
          capaciter ce : {{stade.capacite}}
          <br/>
          ville:{{stade.ville}}
        </p>
      </div>
  
      <!-- Comments Section -->
      <div class="px-6 py-4">
        <h3 class="text-xl font-semibold text-gray-800 mb-4">Comments</h3>
        <div class="space-y-4">
          <!-- Comment 1 -->
          @for (item of comment; track $index) {
          <div class="bg-gray-100 p-4 rounded-lg">
            <p class="text-gray-800 font-semibold">{{item.username}}</p>
            <p class="text-gray-600 text-sm">{{item.contenu}}</p>
          </div>}
        </div>
        <!-- Add Comment Form -->
        <form class="mt-6">
          <div class="mb-4">
            <label for="comment" class="block text-gray-700 font-bold mb-2">Add a comment:</label>
            <textarea id="comment"[(ngModel)]="commentStade.contenu" name="comment" rows="3" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" placeholder="Write your comment here..."></textarea>
          </div>
          <button type="submit"(click)="setcommentStade()" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-500">Submit</button>
        </form>
      </div>
    </div>
  }
<app-footer></app-footer>